.main {
  display: grid;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  grid-template-areas:
    "story story"
    "header sidebar"
    "header2 header2"
    "header3 header3";
  grid-template-columns: 2fr 1fr;
  max-width: 100%;
  justify-items: center;
  height: 100vh;
}

.story-feed {
  display: flex;
  flex-direction: row;
  width: 468px;
  height: 100px;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  gap: 20px;
  grid-area: story;
}

.story-feed img {
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2.5px;
}

.story-wrapper {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  background: rgb(237, 255, 8);
  background: linear-gradient(
    19deg,
    rgba(237, 255, 8, 1) 0%,
    rgba(255, 25, 25, 1) 50%,
    rgba(255, 0, 194, 1) 100%
  );
}
.username1 {
  margin-left: 4px;
}
.suggestions {
  grid-area: sidebar;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  margin-right: 170px;
  margin-bottom: 200px;
  font-size: 12px;
}
.my-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}
#look {
  color: blue;
}
#profile-picture {
  width: 70px;
  border-radius: 50%;
  margin-right: 19px;
}
#small-tekts-box {
  margin-right: 130px;
}
#gray {
  color: gray;
}
#gray1:hover {
  border-bottom: 1px solid gray;
}
#forslag {
  display: flex;
  margin-top: 25px;
  gap: 220px;
}
#look1 {
  color: black;
}
.next-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#profile-picture1 {
  width: 49px;
  border-radius: 50%;
  margin-right: 19px;
}
#gray1 {
  color: gray;
}
#gray1:hover {
  border-bottom: 1px solid gray;
}
#link-boxs {
  margin-left: 35px;
  margin-top: 40px;
  font-size: 15px;
}

.main-feed {
  grid-area: header;
  margin-left: 590px;
}
.main-feed2 {
  grid-area: header2;
}
.main-feed3 {
  grid-area: header3;
}

.feed1 {
  width: 468px;
  height: 100%;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

.topFeed1 img {
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 1px;
  margin-top: 1px;
}

.topFeed1 {
  display: flex;
  flex-direction: row;
  margin: 10px;
}
.circleFeed1 {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  background: rgb(237, 255, 8);
  background: linear-gradient(
    19deg,
    rgba(237, 255, 8, 1) 0%,
    rgba(255, 25, 25, 1) 50%,
    rgba(255, 0, 194, 1) 100%
  );
}

.topUsername1 {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 400;
}
.fa-circle-check {
  background-color: #4267b2;
  border-radius: 50%;
  color: white;
}
.Location1 {
  font-size: 10px;
  font-weight: 100;
}
.fa-ellipsis {
  display: flex;
  margin-left: 315px;
  align-items: center;
}

.hide-function {
  display: none;
}
.hide-function.activeEllipsis {
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 0, 0.6);
  width: 100%;
  height: 120%;
  position: absolute;
}

.function-ellipsis ul li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 29px;
  font-size: 14px;
}
.function-ellipsis ul li:nth-child(9) {
  border-color: white;
}
.dont-Follow {
  width: 380px;
  height: 40px;
  border-bottom: 1px solid darkgrey;
  margin-top: 12px;
  font-weight: bold;
}

.report {
  font-weight: bold;
  margin-top: 12px;
  width: 380px;
  height: 40px;
  border-bottom: 1px solid darkgrey;
}

.the-rest {
  margin-top: 12px;
  width: 380px;
  height: 40px;
  border-bottom: 1px solid darkgrey;
}
.the-rest7 {
  width: 380px;
  height: 40px;
  margin-top: 12px;
}

.function-ellipsis {
  width: 380px;
  height: 460px;
  background-color: white;
  border-radius: 15px;
  position: relative;
}
.function-ellipsis a {
  position: relative;
  z-index: 10;
}
.showReportSection {
  display: none;
}
.showReportSection.active {
  display: flex;
  flex-direction: column;
}

.bottom1 ul {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  gap: 10px;
}
.bottom1 ul li {
  list-style-type: none;
}
.fa-heart {
  color: black;
}
.fa-regular.fa-bookmark.active4 {
  display: none;
}
.fa-regular.fa-bookmark {
  display: inline-block;
}
.fa-solid.fa-bookmark {
  display: none;
}
.fa-solid.fa-bookmark.active4 {
  display: inline-block;
}
.fa-comment-div {
  display: none;
}
.fa-comment-div.activeComment {
  display: flex;
  position: absolute;
  flex-direction: row;
}
.fa-comment-div img {
  width: 450px;
  height: 550px;
}
.fa-comment-feed img {
  width: 35px;
  height: 35px;
}

.username123Hover {
  display: none;
}
.username123Hover.active2 {
  display: block;
  height: 350px;
  width: 380px;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  z-index: 1;
  border: 1px solid black;
}
.top-hover1 {
  display: flex;
  flex-direction: row;
  font-size: 12px;
  border-bottom: 1px solid darkgrey;
}
.top-hover1 img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-top: 20px;
  margin-right: 15px;
  margin-left: 15px;
}
.top-hover p:last-child {
  margin-bottom: 15px;
}
.top-hover p:nth-child(2) {
  margin-bottom: 10px;
}
.top-hover p:first-child {
  margin-top: 10px;
}
.mid-hover1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.mid-hover p {
  text-align: center;
}
.mid-hover img {
  margin-top: 15px;
  width: 100%;
}
.mid-hover {
  margin-top: 15px;
  width: 33%;
}
.hover-button {
  background-color: lightgrey;
  border: none;
  padding: 5px 50px;
  border-radius: 10px;
  margin-left: 35px;
  margin-top: 10px;
}

.bottom1 ul li:nth-child(4) {
  margin-left: 350px;
}

.bottom2 {
  margin: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.merging-pictures img {
  border-radius: 50%;
  border: 1px solid rgb(230, 222, 222);
}
.merging-picture1 {
  position: relative;
}
.merging-picture2 {
  position: absolute;
  margin-left: -6px;
  margin-top: 1px;
}
.bottom2txt {
  font-size: 12px;
  margin-left: 5%;
}
.bold {
  font-weight: 600;
}
.bottom3 {
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.bottom4 {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 600;
  opacity: 70%;
  margin-bottom: 10px;
}
.comment-show.active3 {
  display: flex;
  position: absolute;
  flex-direction: row;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.6);
  bottom: 10px;
  right: 1px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.comment-show {
  display: none;
}
.comment-img {
  display: flex;
}

.comment-img img {
  border-top: 100px solid black;
  width: 100%;
  height: 80%;
  border-bottom: 100px solid black;
}
.comment-section {
  background: white;
  margin-right: 150px;
  height: 79.4%;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.top-comment-username {
  margin-right: 20px;
}

.top-comment img {
  margin-left: 10px;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  margin-right: 13px;
}
.comment-img {
  align-items: center;
  justify-content: center;
}

.top-comment {
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.comment-feed {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}
.comment-text-feed {
  font-size: 12px;
  align-items: center;
  width: 100%;
}
#comment-heart {
  margin-left: 350px;
}
.small-font {
  font-size: 10px;
  display: inline-block;
  margin-top: 5px;
}
.bold-username {
  font-weight: 600;
}
.comment-feed img {
  margin-left: 10px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 15px;
}
.comment-bottom1 {
  border-top: 1px solid rgb(0, 0, 0, 0.1);
  border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.comment-bottom1 ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}
.comment-bottom1 ul li:last-child {
  margin-left: 372px;
}
.comment-likes {
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 5px;
  margin-left: 15px;
}
.comment-timestamp {
  font-size: 9px;
  font-weight: 100;
  margin-left: 15px;
  margin-bottom: 10px;
}
.bottom5 {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 100;
  opacity: 50%;
  margin-bottom: 10px;
}
.comment-bottom3 {
  width: 100%;
}
.comment-bottom3 input {
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
  outline: none;
}

.comment-bottom3 .fa-face-smile {
  margin: 0 10px;
}
#name {
  width: 75%;
}
.comment-bottom3 input::placeholder {
  color: black;
  font-size: 12px;

  opacity: 60%;
}
.comment-bottom3 form {
}

.bottom5 {
  font-size: 12px;
  margin-left: 10px;
  font-weight: 100;
  opacity: 50%;
  margin-bottom: 10px;
}
.footer-feed {
  border-top: 1px solid lightgrey;
  width: 100%;
}
.footer-feed input {
  border: none;
  padding-bottom: 15px;
  padding-top: 15px;
  outline: none;
}
.sendMessage {
  border: none;
  background-color: white;
  color: #4267b2;
  margin-top: 15px;
  margin-left: 15px;
  position: absolute;
  font-weight: bold;
  opacity: 30%;
}
.footer-feed .fa-face-smile {
  margin: 0 10px;
}
#name {
  width: 75%;
}
.footer-feed input::placeholder {
  color: black;
  font-size: 12px;

  opacity: 60%;
}
