.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.story-feed {
  display: flex;
  flex-direction: row;
  width: 468px;
  height: 100px;
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  font-size: 10px;
  gap: 20px;
}

.story-feed img {
  border: 2px solid white;
  border-radius: 50%;
  margin-left: 2px;
  margin-top: 2px;
}

.story-wrapper {
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  height: 58px;
  width: 58px;
  background: rgb(237, 255, 8);
  background: linear-gradient(
    19deg,
    rgba(237, 255, 8, 1) 0%,
    rgba(255, 25, 25, 1) 50%,
    rgba(255, 0, 194, 1) 100%
  );
}
.username1 {
  margin-left: 4px;
}

.main-feed {
  width: 50%;
}
