.main-navigation {
  padding: 25px;
  height: 100vh;
  width: 16%;
  max-width: 420px;
  border-right: 1px solid rgba(128, 128, 128, 0.473);
  z-index: 301;
}

.main-navigation ul li {
  list-style-type: none;
  width: 100%;
  padding: 10px;
}

.nav-insta-logo {
  display: none;
  margin-bottom: 41px;
}

.nav-insta-logo.active {
  display: inline;
  width: 29px;
}

.nav-insta-text.active2 {
  display: none;
}
.nav-insta-text {
  width: 124px;
  display: inline;
}
.hide {
  display: none;
}

.main-navigation a {
  display: flex;
  justify-content: flex-start;
}
.main-navigation ul li:hover {
  background-color: rgb(233, 233, 233);
  border-radius: 5px;
}

.main-navigation ul li:hover .icon {
  transform: scale(1.1);
  transition: all 0.1s ease-in-out;
}

.main-navigation ul li:first-child:hover {
  background-color: rgba(211, 211, 211, 0);
}

.main-navigation ul li a {
  color: black;
}
.main-navigation ul {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 11px;
  align-items: flex-start;
}

.main-navigation ul li:last-child {
  margin-top: auto;
}

.main-navigation ul li:nth-child(9) img {
  width: 30px;
  border-radius: 50px;
  margin-right: 11px;
}

.main-profile-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.fa-house,
.fa-magnifying-glass,
.fa-compass,
.fa-clapperboard,
.fa-paper-plane,
.fa-heart,
.fa-square-plus,
.fa-bars,
.profile-pic {
  font-size: 25px;
  margin-right: 17px;
}

.main-nav-wrapper {
  display: flex;
}

.searchbar.active3 {
  display: block;
  background-color: white;
  border-right: 1px solid lightgray;
  color: black;
  min-width: 360px;
  min-height: 100vh;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.searchbar {
  position: fixed;
  left: -100%;
  z-index: 300;
  transition: all 0.4s ease-in-out;
}

.searchbar.active3 {
  position: fixed;
  left: 100px;
  transition: all 0.4s ease-in-out;
}
.searchbar input {
  height: 38px;
  width: 90%;
  margin-bottom: 20px;
  margin-left: 18px;
  border-radius: 10px;
  outline: none;
  text-indent: 13px;
  font-size: 14px;
  border: none;
  background-color: rgba(211, 211, 211, 0.438);
}
.searchbar h2 {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.searchbar h3 {
  padding: 20px;
  font-weight: 600;
  font-size: 15px;
}

.nav-features {
  width: 24%;
}

.notifikationer {
  display: block;
  background-color: white;
  border-right: 1px solid lightgray;
  color: black;
  position: fixed;
  left: -100%;
  height: 100%;
  overflow-y: scroll;
  z-index: 300;
  transition: all 0.4s ease-in-out;
  padding: 20px;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.notifikationer.active4 {
  display: block;
  background-color: white;
  border-right: 1px solid lightgray;
  color: black;
  min-width: 360px;
  min-height: 100vh;
  border-radius: 0px 10px 10px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.notifikationer article {
  margin-bottom: 20px;
}

.notifikationer.active4 {
  position: fixed;

  left: 100px;
  transition: all 0.4s ease-in-out;
}

.notifikationer h2 {
  padding: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}
.notifikationer h3 {
  padding: 20px;
  font-weight: 700;
  font-size: 15px;
}

.notifikationer img {
  width: 50px;
  border-radius: 50px;
}

.noti-profil-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.daguge {
  color: rgb(136, 136, 136);
}

.followbtn a {
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 7px 18px;
  background-color: rgba(0, 149, 246, 255);
}

.opret-nyt-opslag {
  display: none;
}

.opret-nyt-opslag.opretBoxShow {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.637);
  z-index: 400;
}

.create-new-box {
  width: 38%;
  height: 85%;
  border-radius: 13px;
  text-align: center;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.create-new-box h2 {
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
}

.bottom-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 90%;
  gap: 10px;
}
.fa-file-import {
  font-size: 110px;
}

.upload-file {
  border-radius: 10px;
  color: white;
  font-weight: 700;
  padding: 7px 18px;
  background-color: rgba(0, 149, 246, 255);
  font-weight: 400;
}

.fa-x {
  color: white;
  position: fixed;
  right: 25px;
  top: 25px;
  font-size: 23px;
  font-weight: 100;
  cursor: pointer;
}
